@model IEnumerable<AcePalace.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Список категорий</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
