@model AcePalace.Models.DTO.OrderAdminOtchet

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:100%" class="mt-2">
    <h1>Все заказы</h1>
    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.OrderDetail.DateTime)</th>
                    <th>Билет Зрительский</th>
                    <th>Сумма</th>
                    <th>Билет Детский</th>
                    <th>Сумма</th>
                    <th>Коньки Мужские</th>
                    <th>Сумма</th>
                    <th>Коньки женские</th>
                    <th>Сумма</th>
                    <th>Билет Взрослый </th>
                    <th>Сумма</th>
                    <th>Итог</th>
                </tr>
            </thead>
            
            <tbody> 
                
                @foreach (var order in Model.Shedules)
                {
                    @if ((ViewBag.StartTime == order.DateTime) || ( (ViewBag.StartTime <= order.DateTime )&&(order.DateTime <= ViewBag.FinishTime)))
                    {
                        <tr>
                            <td>@order.DateTime</td>
                            @foreach (var item in Model.OrderDetails)
                            {
                                @if (order.DateTime == item.DateTime)
                                {
                                    <td> @item.Quantity</td>
                                    <td>@(item.UnitPrice * item.Quantity)</td>
                                }
                            }
                            <td>@(Model.OrderDetails.Where(i => order.DateTime == i.DateTime).Sum(i => i.Quantity * i.UnitPrice))</td>

                        </tr>
                    
                    }                    
                }
               
            
            
            </tbody>
        </table>


        <p>Количество взрослых билетов : @(Model.OrderDetails.Where(i => ((ViewBag.StartTime == i.DateTime) && (i.ProductId == 1)) || ((ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime) && (i.ProductId == 1))).Sum(i => i.Quantity)) шт</p>
        <p>Количество детских билетов : @(Model.OrderDetails.Where(i => ((ViewBag.StartTime == i.DateTime) && (i.ProductId == 2)) || ((ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime) && (i.ProductId == 2))).Sum(i => i.Quantity)) шт</p>
        <p>Количество зрительских билетов : @(Model.OrderDetails.Where(i => ((ViewBag.StartTime == i.DateTime) && (i.ProductId == 3)) || ((ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime) && (i.ProductId == 3))).Sum(i => i.Quantity)) шт</p>
        <p>Количество мужских коньков : @(Model.OrderDetails.Where(i => ((ViewBag.StartTime == i.DateTime) && (i.ProductId == 4)) || ((ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime) && (i.ProductId == 4))).Sum(i => i.Quantity)) шт</p>
        <p>Количество женских коньков : @(Model.OrderDetails.Where(i => ((ViewBag.StartTime == i.DateTime) && (i.ProductId == 5)) || ((ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime) && (i.ProductId == 5))).Sum(i => i.Quantity)) шт</p>
        <p> Сумма за выбранный период : @(Model.OrderDetails.Where(i => (ViewBag.StartTime == i.DateTime) || (ViewBag.StartTime <= i.DateTime) && (i.DateTime <= ViewBag.FinishTime)).Sum(i => i.Quantity * i.UnitPrice))Р</p>
        
    }
    else
    {
        <h5>Нет заказов</h5>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="startTime" class="control-label"></label>
                <input asp-for="startTime" class="form-control" />
                <span asp-validation-for="startTime" class="text-danger"></span>
                <label asp-for="finishTime" class="control-label"></label>
                <input asp-for="finishTime" class="form-control" />
                <span asp-validation-for="finishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Показать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

