@model AcePalace.Models.DTO.OrderAdminOtchet

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
    <thead>
    <th>
            @Html.DisplayNameFor(model => model.Order.DateTime)
    </th>

    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime, "{0:dd/MM/yyyy}")
                </td>


            </tr>
        }
    </tbody>
</table>*@











<div style="width:100%" class="mt-2">
    <h1>Все заказы</h1>
    @if (Model != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.OrderDetail.DateTime)</th>
                    <th>Билет Зрительский</th>
                    <th>Сумма</th>
                    <th>Билет Детский</th>
                    <th>Сумма</th>
                    <th>Коньки Мужские</th>
                    <th>Сумма</th>
                    <th>Коньки женские</th>
                    <th>Сумма</th>
                    <th>Билет Взрослый </th>
                    <th>Сумма</th>
                    <th>Итог</th>
                </tr>
            </thead>

            <tbody>
               
                    @foreach (var order in Model.Shedules)
                    {
                        <tr>
                            <td>@order.DateTime</td>
                            @foreach (var item in Model.OrderDetails)
                            {
                                @if (order.DateTime == item.DateTime)
                                {
                                    <td> @item.Quantity</td>
                                    <td>@(item.UnitPrice * item.Quantity)</td>
                                }                                                 
                            }                            
                        <td>@(Model.OrderDetails.Where(i => order.DateTime == i.DateTime).Sum(i => i.Quantity * i.UnitPrice))</td>                      
                        </tr>
                    }      
            </tbody>
        </table>
    }
    else
    {
        <h5>Нет заказов</h5>
    }
</div>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>




            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

